[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
dotenv = "*"
tqdm = "*"
colorama = "*"

[dev-packages]
flake8-docstrings = "*"
flake8-import-order = "*"
flake8-annotations = "*"
flake8-quotes = "*"
flake8-bugbear = "*"
flake8-comprehensions = "*"
flake8 = "*"
flake8-pyproject = "*"
isort = "*"
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.1"
